<div id="<%= dom_id url %>">
  <p>
    <strong>Long url:</strong>
    <%= url.long_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= url.short_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= url.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= url.owner %>
  </p>

</div>
