<% content_for :title, "Shorten URL" %>

<h1>Shorten URL</h1>

<br />
<%= form_with(model: @url) do |form| %>
  <% if @url.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% @url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :long_url, style: "display: block" %>
    <%= form.text_field :long_url, class: "form-control", placeholder: "http://www.example.com/this-is-a-long-url" %>
  </div>

  <div class="field form-group">
    <%= form.label "#{:description} (optional)", style: "display: block" %>
    <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
  </div>

  <div class="field form-group">
    <%= form.label "#{:owner} (optional)", style: "display: block" %>
    <%= form.text_field :owner, class: "form-control", placeholder: "someone@domain.com" %>
  </div>

  <br />

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
